/* What are some common style properties? */

/* 
Colors - color; background-color; border-color;
Sizes - font-size; border-width; width; height;
Sizes - padding; margins; border;
Borders - border-style; border-width; border-color;
Text - color; font-size; font-weight; font-family;
Positions - TBC.
*/

/* Units: */

/* 

px - exact (e.g., 24px)
cm - exact 
mm - exact 
em - relative units (e.g., 1.5em)
rem - relative units
% - relative units


*/
html {
    font-size: 12px;
    font-family: sans-serif;
}

.box {
    background-color: purple;
    padding: 0px;
    border: 5px solid lightcoral;
    margin: 5px;
    color: white;
}

.container {
    background-color: lightgreen;
    font-size: 15px;
}

.wide-container {
    max-width: 50%;
    background-color: cadetblue;
    padding: 15px 0;
    border: 2px solid red;
}

.head1 {
    font-size: 250%;
    color: rgba(20, 25, 90, 70%);
}
.para1 {
    font-size: 1.4em;
}
.para2 {
    font-size: 1.5rem;
}